# {{ ansible_managed }}
[Unit]
Description=Update threat intelligence blocklists
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-blocklists
