---
branches:
  - main
plugins:
  - - "@semantic-release/commit-analyzer"
    - preset: angular
      releaseRules:
        - type: chore
          release: patch
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/exec"
    - successCmd: echo version=v${nextRelease.version} >> $GITHUB_OUTPUT
      prepareCmd: |
        yq -i ".version = \"${nextRelease.version}\"" galaxy.yml
  - - "@semantic-release/git"
    - assets:
        - galaxy.yml
      message: |-
        chore(release): ${nextRelease.version}

        [skip ci]

        ${nextRelease.notes}
  - "@semantic-release/github"
