[Unit]
Description=HAProxy Load Balancer
Documentation=man:haproxy(1)
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=notify
ExecStartPre={{ haproxy_bin_path }} -f {{ haproxy_config_dir }}/haproxy.cfg -c -q
ExecStart={{ haproxy_bin_path }} -Ws -f {{ haproxy_config_dir }}/haproxy.cfg -p /run/haproxy.pid
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -SIGTERM $MAINPID
TimeoutStopSec=30
KillMode=mixed
Restart=always
RestartSec=5
SuccessExitStatus=143

ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true
LimitNOFILE=65535
LimitNPROC=4096

[Install]
WantedBy=multi-user.target
