# {{ ansible_managed }}
RESTIC_REPOSITORY={{ restic_repo_url }}
RESTIC_PASSWORD={{ restic_password }}
RESTIC_CACHE_DIR={{ restic_cache_dir }}
{% if restic_aws_access_key_id | length > 0 %}
AWS_ACCESS_KEY_ID={{ restic_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ restic_aws_secret_access_key }}
{% endif %}
{% for entry in restic_extra_env %}
{{ entry }}
{% endfor %}
