# {{ ansible_managed }}
{{ dante_log_file }} {
    daily
    rotate 30
    compress
    delaycompress
    missingok
    notifempty
    postrotate
        /bin/kill -HUP $(cat /var/run/sockd.pid 2>/dev/null) 2>/dev/null || true
    endscript
}
