# {{ ansible_managed }}
DANE_PUBLISH_ENABLED={{ dane_enabled | bool | string | lower }}
CF_API_TOKEN={{ dane_cloudflare_api_token }}
CF_ZONE_ID={{ dane_cloudflare_zone_id }}
DANE_RECORD_TTL={{ dane_record_ttl }}
DANE_CERTS_CONF={{ dane_config_dir }}/certs.conf
DANE_LOCK_FILE={{ dane_config_dir }}/lock
