[Unit]
Description=Grafana Promtail
Documentation=https://github.com/grafana/loki
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=/usr/local/bin/promtail -config.file /etc/promtail/promtail.yml
ExecReload=/bin/kill -SIGHUP $MAINPID
Restart=always
RestartSec=5
User={{ promtail_user }}
Group={{ promtail_group }}
ReadWritePaths=/var/lib/promtail
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true
LimitNOFILE=65535
LimitNPROC=4096

[Install]
WantedBy=multi-user.target
