global:
  scrape_interval: 30s

scrape_configs:
{% if vmagent_haproxy_exporter_enabled %}
  - job_name: haproxy-exporter
    static_configs:
      - targets:
          - localhost:8404
{% endif %}
{% if vmagent_node_exporter_enabled %}
  - job_name: node-exporter
    static_configs:
      - targets:
          - localhost:9110
{% endif %}
{% if vmagent_redis_exporter_enabled %}
  - job_name: redis-exporter
    static_configs:
      - targets:
          - localhost:9121
{% endif %}
{% if vmagent_mongo_exporter_enabled %}
  - job_name: mongo-exporter
    static_configs:
      - targets:
          - localhost:9216
{% endif %}
{% if vmagent_docker_enabled %}
  - job_name: docker
    static_configs:
      - targets:
          - localhost:9323
{% endif %}
