# {{ ansible_managed }}
export http_proxy={{ proxy_client_proxy_url }}
export https_proxy={{ proxy_client_proxy_url }}
export HTTP_PROXY={{ proxy_client_proxy_url }}
export HTTPS_PROXY={{ proxy_client_proxy_url }}
{% set no_proxy_str = proxy_client_no_proxy | join(',') %}
export no_proxy={{ no_proxy_str }}
export NO_PROXY={{ no_proxy_str }}
